html
{
    height: 100%;
}

body
{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Calibri, Tahoma, Arial;
}

#board
{
    padding: 0 10px;
    border-right: 5px dashed lightgray;
}

div, table, td, tr
{
    padding: 0;
    margin: 0;
    border: 0px;
    font-size: xx-large;
}

.dot
{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
}

.vline, .hline
{
    border-radius: 15px;
}

.vline
{
    width: 10px;
    height: 90px;
}

.hline
{
    width: 90px;
    height: 10px;
}

.box
{
    width: 90px;
    height: 90px;
    background-color: lightgray;
    border-radius: 15px;
}

.yellow, #yellowScore
{
    background-color: #ffd800;
}

.green, #greenScore
{
    background-color: green;
}

.none:hover
{
    background-color: lightgray;
}

/* Sidebar */
#sidebar
{
    min-width: 240px;
    padding: 0 10px;
    vertical-align: top;
}

#gridSize
{
    height: 60px;
    width: 80px;
    font-size: 150%;
}

button
{
    height: 60px;
    width: 180px;
    font-size: 150%;
}

.score
{
    width: 50px;
    height: 60px;
    text-align: center;
    border-radius: 10px;
}

.player
{
    height: 60px;
    text-align: center;
    border-radius: 10px;
}
